﻿@model Covid19.Models.Shops

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shops</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShopName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AllCapacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AllCapacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentCapacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentCapacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShopImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShopImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
