﻿@model Covid19.Models.Shops

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Shops</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ShopName" class="control-label"></label>
                <input asp-for="ShopName" class="form-control" />
                <span asp-validation-for="ShopName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllCapacity" class="control-label"></label>
                <input asp-for="AllCapacity" class="form-control" />
                <span asp-validation-for="AllCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentCapacity" class="control-label"></label>
                <input asp-for="CurrentCapacity" class="form-control" />
                <span asp-validation-for="CurrentCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopImage" class="control-label"></label>
                <input asp-for="ShopImage" class="form-control" />
                <span asp-validation-for="ShopImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
