﻿@model IEnumerable<Covid19.Models.Shops>



<h2>Shops</h2>

<p>
    <a asp-action="Create"> Add</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                   Shop name
                </th>
                <th>
                    Total capacity
                </th>
                <th>
                    Current capacity
                </th>
                <th>
                    Type
                </th>

                <th>
                    Username
                </th>
                <th>
                    Password
                </th>                <th>
                    Statues
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShopName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>      
            <td>
                @Html.DisplayFor(modelItem => item.Statuse) 
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Update</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
